@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

header a {
  font-family: var(--Quicksand-font);
  font-size: 20px;
  color: white;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.100em;
}

header .navbar-brand {
  padding-left: 8rem;
  font-size: 30px;
}

header .nav-link:hover {
  color: blue;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

.carousel {
	padding: 10vmin 2vmin;
	
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}
header .container .col-md-7 button {
  border-radius: 30px;
}
.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}